site_name: ray-el

docs_dir: docs-src  # Source markdown files
site_dir: docs      # Built output for GitHub Pages

nav:
  - Home: index.md

theme:
  name: "material"

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths:
            - src
  - mkdocs-autoapi:
      autoapi_dir: src/ray_el